<div class="d-flex justify-content-center">
<nav class="navbar navbar-expand-md navbar-dark bg-black">
  <div class="navbar-collapse show" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto navbar-nav-center">
      {{ $lastIndex := sub (len .Site.Menus.main) 1 }}
      {{ $currentPage := .RelPermalink }}
      {{ range $i, $el := .Site.Menus.main }}
        {{ $active := "" }}
        {{ if eq $el.URL $currentPage }}
          {{ $active = "active" }}
        {{ end }}
        <li class="nav-item text-center">
          <a class="nav-link {{ $active }} text-white" href="{{ $el.URL }}">{{ $el.Name }}</a>
        </li>
        {{ if ne $i $lastIndex }}
          <li class="nav-item">
            <a class="nav-link text-white" href="#"></a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</nav>
</div>
